<html>
    <head>
        <title>root</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
    </head>
    <body> 
        <div class="container"> 
            {% if usuarios%}
            <h2>Gestión de Usuarios.</h2>
            <table class="usuarios">
                <thead>
                    <tr>
                        <th>Email</th>
                        <th>Nombre Completo</th>
                        <th>Teléfono</th>
                        <th>Edad</th>
                        <th>Acciones</th> </tr>
                </thead>
                <tbody>
                    {% for usuario in usuarios %}
                    <tr>
                        <td>{{ usuario.Email }}</td>
                        <td>{{ usuario.Nombre }} {{ usuario.Apellidos }}</td>
                        <td>{{ usuario.Telefono }}</td>
                        <td>{{ usuario.Edad }}</td>
                        <td>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <button class="add"></button>
            <button class="delete"></button>
            {% else %}
            <div class="alert alert-info">
                 No se encontraron usuarios. <a href="{{ url_for('crear_usuario') }}">Añadir uno ahora.</a>
            </div>
        </div>
    </body>
</html>