<!DOCTYPE html>
<html>
    <head>
        <title>Usuarios</title>
        <link rel="stylesheet"  href="{{ url_for('static', filename='style.css') }}" />
    </head>
    <body>
        <h1>Usuarios en el sistema.</h1>
        <div class="usuarios" role="region" tabindex="0">
        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellidos</th>
                    <th>Email</th>
                    <th>Contraseña</th>
                    <th>Telefono</th>
                    <th>Edad</th>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
        <div style="margin-top:8px"></div>
    </body>
</html>