.usuarios {
    overflow: auto;
    width: 100%;
}

.usuarios table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    margin: 25px 0;
    font-size: 0.95em;
    min-width: 400px;
    text-align: left;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); 
}

.usuarios caption {
    caption-side: top;
    text-align: left;
}

.usuarios th {
    background-color: #009879; /* Un color primario (verde oscuro limpio) */
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.usuarios td {
    padding: 12px 15px; /* Espaciado interno generoso */
    text-align: left;
}

.usuarios tr:nth-child(even) td {
    background-color: #ffffff;
    color: #000000;
}

.usuarios tr:nth-child(odd) td {
    background-color: #f3f3f3;
    color: #000000;
}

.user-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.user-table button {
    background-color: #d9534f; /* Color rojo para la acción de "Eliminar" */
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.user-table button:hover {
    background-color: #c9302c;
}